body {
    /* height: 200vh; */
    background: #4a6546;
    /* background: white; */
    padding-top: 3rem;

  }

  *{
    margin: 0;
    padding: 0;
  }

.navbar {
  background: #4a6546;
  /* background: white;
  background-color: #b0976d; */

}

.carousel-item {
  height: 40rem;
  background: black;
  color:white;
  position: relative;
}

.carousel-item .container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5
}

.about {
  min-height: 40rem;
}

.about-me {
}

.about-picture {
  background-image: url(img/pic4.jpg);
  background-position: center;
  background-size: cover;
}

.section-title {
  margin-bottom: 38px
}

.card {
  background: #b0976d;
}

.card:hover {
  transform: scale(1.05);
  color: white;
  cursor: pointer;
}

.shadow,
.subscription-wrapper {
  box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1) !important
}

.icon-bg-circle {
  position: relative
}

.icon-lg {
  font-size: 50px
}

.icon-bg-circle::before {
  z-index: 1;
  position: relative
}


a {
  color: var(--bs-body-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.column-left {
  min-height: 750px;
  background-image: url("img/pic6.jpg");
  background-position: center;
  background-size: cover;
}

.column-right {
  background: #b0976d;
}

img {
  max-width: 100%;
}

.gallery{
  /* background-color: #dbddf1; */
  padding: 80px 0;
}

.gallery img {
  background-color: #ffffff;
  background-color: #b0976d;

  padding: 10px;
  width:100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.heading {
  text-align: center;
  font-size: 45px;
  border-bottom: 2px dotted #000;
}

#contact{
  background-color: #b0976d;
}

.btn-secondary{
  width:50%;
  letter-spacing: 2px;
  background: transparent;
  transition: all 0.5s ease-in-out;
}
.btn-secondary:hover{
  transform: scale(1.05);
}

/* footer {
  color: white;
} */
[id]::before {
  content: '';
  display: block;
  height: 3rem;
  margin-top: -3rem;
  visibility: hidden;
}

.icn {
  font-size: 20px;
}

.map {
  height:500px;
}